.container {
    width: 100%;
}


.img {
    width: 100%;
    height: calc(100vh - 79px);
    margin: 0;
}

.Body {
    background-color: beige;
}



.column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.body--title {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: normal;
    color: #3E3E3E;
    opacity: 100%;
}

.body--subtitle {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 2%;
    justify-content: flex-start;
    font-weight: bold;
    font-size: calc(7px + 1.5vw);
    color: #3E3E3E;
    opacity: 100%;
}


.body--line {
    background-image: url("../HomePage/Images/line.png");
    min-height: 0.5%;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 66%;
}

.course-container--header {
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.exam--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 60%;
    writing-mode: horizontal-tb;
}

.difficulty--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 20%;
    text-align: center;
}

.date--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 30%;
}

.score--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 18%;
}

.button--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 30%;
}

.course-container {
    display: flex;
    align-items: flex-end;
    margin-left: 6%;
    margin-right: 6%;
 }
.id--container {
    font-size: calc(10px + 1.2vw);
    color: #3E3E3E;
    opacity: 100%;
    inline-size: 10%;
  
}

.course-title{
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    
}

.course-container button{
    display: flex;
    flex-wrap: wrap;
    background-color: #002F35;
    border:none;
    border-radius: 5px;
    font-size: calc(8px + 1.0vw);
    cursor: pointer;
    color: #fff;
    box-shadow: 3px 5px 18px #112D4E;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    transition-duration: 0.4s;
}

.course-container button:hover{
    opacity: 100%;
    background-color:#04172c;
}