.body--container {
    width: 70%;
    flex-wrap: wrap;
    border: 0.063rem solid #DBE2EF;
    border-radius: 3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 8% auto;
    padding: 1.25rem;
    background-color: #DBE2EF;
    opacity: 75%;

}